:root {
    /* --------------Color---------------- */
    --primary-text-color: #000000;
    --secondary-text-color:#3E3E3E;
    --thirty-text-color:#9FADC2;
    --primary-background-color:#F2F2F2;
    --color-text-on-background: #ffffff;
    --accent-color:#0075FF;
    --hover-secondary-button-color: #005ECC;
    --background-input-color:  #F7F8FF;
    --border-input-color: #CCD0E0;
/* --------------Box-Shadov-Color---------------- */
    --secondary-button-box-shadov: 0px 13px 27px rgba(0, 83, 181, 0.46);
    --secondary-button-active-shadov: 0px 8px 14px rgba(0, 83, 181, 0.48);
    --primary-button-box-shadov: 0px 6px 23px rgba(0, 117, 255, 0.46);
    --primary-button-hover-box-shadow:0px 13px 27px rgba(0, 83, 181, 0.46);
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-text-on-background);
    font-weight: 400;
    color: var(--primary-text-color);
}
li {
    list-style: none;
    
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

ul, ol, p {
    margin: 0px;
    padding: 0px;
}


.section {
    padding-top: 104px;
}

.container {
    width: 1260px;
    padding-left:  120px;
    padding-right:  120px;
    margin: 0 auto;
}

.accent {
    color: var(--accent-color);
}

/* Section-Hero */
.hero {
     background-image: url(../images/hero\ \(2\).jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    max-width: auto;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__position {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero__title {
    font-weight: 700;
    font-size: 80px;
    line-height: 1;
    
    height: 161px;
    letter-spacing: -1.5px;
    color: var(--color-text-on-background);
    margin-top: 350px;
}

/* Section-About */
.about {
    display: flex;
    justify-content: space-between;
}
.about__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -1.5px;
    width: 324px;
    height: 145px;
}

.about__paragraph--accent {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
}

.about__paragraph {
    font-size: 16px;
    line-height: 1.68;
    color: var(--secondary-text-color);
    width: 498px;
    height: 357px;
}
/* Section-Gallery */

.gallery__title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    text-align: center;
    margin-bottom: 5px;
}

.gallery__items {
    display: flex;
    flex-wrap: wrap;
}

.gallery__item:nth-child(2n + 1) {
    margin-right: 24px;
}

.gallery__paragraph {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.68;
    margin-top: 24px;
    margin-bottom: 40px;
}

.gallery__paragraph-normal {
    font-weight: 400;
}

/* Section-Testimonials */

.testimonials__main-title {
    font-weight: 700;
    font-size: 48px;
    line-height:1;
    letter-spacing: -1.5px;
    text-align: center;
    margin-bottom: 6px;
}

.testimonials__lists {
    display: flex;
    flex-direction: row;
}

.testimonials__list {
    width: 324px;
    text-align:center;
}

.testimonials__list {
    margin-right: 24px;
}

.testimonials__list:last-child {
    margin-right: 0px;
}

.testimonials__images {
    border-radius: 50%;
    margin-bottom: 32px;
}

.testimonials__title {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 4px;
}

.testimonials__paragraph-position {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: var(--thirty-text-color);
    margin-bottom: 13px;
}

.testimonials__paragraph{
    font-size: 16px;
    line-height: 1.68;
}

/* ----------Footer----------- */
.footer__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    text-align: center;
    letter-spacing: -1.5px;
    margin-bottom: 6px;
}

.footer__address {
    display: flex;
    font-style: normal;
}

.footer__paragraph {
    font-size: 14px;
    line-height: 1.92;
   text-decoration: none;
   color: var(--thirty-text-color);
}

.footer__list {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 120px;
}

.footer__input {
    width: 411px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--background-input-color);
    border: none;
    margin-bottom: 16px;
}

.footer__input:hover {
    border: 2px solid var(--border-input-color);
    border-radius: 8px;
}

.footer__input:focus {
    border: 2px solid #0075FF;
}

.footer__background {
    width: auto;
    height: 359px;
    background-image: url(../images/miami.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    justify-content: start;
}

.icon-corona {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 248px;
   
}

/* ------------Button-Style---------------- */
.button__secondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 21px;
    width: 148px;
    height: 56px;
    border: 2px solid var(--accent-color);
    border-radius: 8px;
    color: var(--accent-color);
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.button__secondary:hover,
.button__secondary:focus {
    background-color: var(--hover-secondary-button-color);
    box-shadow: var(--secondary-button-box-shadov);
    border-radius: 8px;
    color: var(--primary-background-color);
}

.button__secondary:active {
    box-shadow: var(--secondary-button-active-shadov);
}

.button__primary {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.14;
    justify-content: center;
    align-items: center;
    padding: 0px 48px;
    width: 411px;
    height: 56px;
    color: var(--color-text-on-background);
    background: var(--accent-color);
    box-shadow: var(--primary-button-box-shadov);
    border: none;
    border-radius: 8px;
}

.button__primary:hover,
.button__primary:focus {
    background: var(--hover-secondary-button-color);
    box-shadow: var(--primary-button-hover-box-shadow);
}

.button__primary:active {
    box-shadow: var(--secondary-button-active-shadov);
}


.corona-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.button-menu {
    width: 40px;
    height: 40px;
    top: 56px;
    left: 124px;
    justify-content: center;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.button-menu__svg {
    top: 56px;
    left: 124px;
    width: 24px;
    align-items: center;
}