@mixin size($width, $height: auto) {
    width: $width;
    height: $height;
}

@mixin center ($f: flex, $f-d: row, $ali-i: center, $jus-c: center) {
    display: $f;
    flex-direction: $f-d;
    align-items: $ali-i;
    justify-content: $jus-c;
}

@mixin fonts-size($fs: 16px, $fw: 400, $lh) {
    font-size: $fs;
    font-weight: $fw;
}

@mixin retina($ratio) {
    @media screen and (min-device-pixel-ratio: #{$ratio}),
        (-webkit-min-device-pixel-ratio: #{$ratio}),
        screen and (min-resolution: #{96 * $ratio}dpi),
        screen and (min-resolution: #{$ratio}dppx) {
      @content;
    }
}