:root {
    // color
    --main-color: #ffffff;
    --secondary-color: #9FADC2;
    --input-color: #F6F8FF;
    --input-hover: #CCD0E0;
    --secondary-color-input: #8F99A8;
    --main-text-color: #000000;
    --accent-color: #0075FF;
    --accent-color-hover: #005ECC;
    --accent-shadow:  0px 6px 23px 0px rgba(0, 117, 255, 0.46);
    --hover-shadow: 0px 13px 27px 0px rgba(0, 83, 181, 0.46);
    --accent-active: 0px 8px 14px 0px rgba(0, 83, 181, 0.48);
    // font
    --title-nav: 22px;
    --title-fs: 48px;
    --title-fs-mob: 36px;
    --little-text: 12px
    --smal-text: 14px;
    --secondary-title-fs: 24px;
}