<section class="section container">
    <h2 id="gallery" class="title">Gallery</h2>
    <ul>
        <li class="gallery__item">
            <div class="gallery__img-wrapper">
                <picture>
                    <source
                        loading="lazy"
                        media="(max-width: 480px)"
                        width="131"
                        srcset="
                            ./images/gallery/gallery-white-hose-mobile-1x.jpg 1x,
                            ./images/gallery/gallery-white-hose-mobile-2x.jpg 2x,
                            ./images/gallery/gallery-white-hose-mobile-3x.jpg 3x,
                            ./images/gallery/gallery-white-hose-mobile-4x.jpg 4x
                        "
                    >
                    <img 
                        loading="lazy"
                        class="gallery-img"
                        width="672"
                        srcset="
                            ./images/gallery/gallery-white-hose-2x.jpg 2x,
                            ./images/gallery/gallery-white-hose-3x.jpg 3x,
                            ./images/gallery/gallery-white-hose-4x.jpg 4x
                        "
                        src="./images/gallery/gallery-white-hose-1x.jpg" 
                        alt="fasad"
                    >
                </picture>
                <picture>
                    <source
                    loading="lazy"
                    media="(max-width: 480px)"
                    width="131"
                    srcset="
                        ./images/gallery/gallery-yellow-hose-mobile-1x.jpg 1x,
                        ./images/gallery/gallery-yellow-hose-mobile-2x.jpg 2x,
                        ./images/gallery/gallery-yellow-hose-mobile-3x.jpg 3x,
                        ./images/gallery/gallery-yellow-hose-mobile-4x.jpg 4x
                    "
                    >
                    <img 
                        loading="lazy"
                        width="324"
                        srcset="
                        ./images/gallery/gallery-yellow-hose-2x.jpg 2x, 
                        ./images/gallery/gallery-yellow-hose-3x.jpg 3x,
                        ./images/gallery/gallery-yellow-hose-4x.jpg 4x
                        "
                        src="./images/gallery/gallery-yellow-hose-1x.jpg" 
                        alt="yellow-hose"
                    >
                </picture>
            </div>
            <p class="gallery__paragraph"><span class="gallery__accent">Marina Palms</span> / North Miami Beach, FL 33162</p>
        </li>
        <li class="gallery__item">
            <div class="gallery__img-wrapper">
                <picture>
                    <source 
                    loading="lazy"
                    media="(max-width: 480px)"
                    width="131"
                    srcset="
                        ./images/gallery/gallery-usa-flag-mobile-1x.jpg 1x,
                        ./images/gallery/gallery-usa-flag-mobile-2x.jpg 2x,
                        ./images/gallery/gallery-usa-flag-mobile-3x.jpg 3x,
                        ./images/gallery/gallery-usa-flag-mobile-4x.jpg 4x
                    "
                    >
                    <img 
                        loading="lazy"
                        class="gallery-img"
                        width="498"
                        srcset="
                            ./images/gallery/gallery-usa-flag-2x.jpg 2x,
                            ./images/gallery/gallery-usa-flag-3x.jpg 3x,
                            ./images/gallery/gallery-usa-flag-4x.jpg 4x
                        "
                        src="./images/gallery/gallery-usa-flag-1x.jpg" 
                        alt="flag"
                    >
                </picture>
                <picture>
                    <source
                    loading="lazy"
                    media="(max-width: 480px)"
                    width="131"
                    srcset="
                        ./images/gallery/gallery-fasad-mobile-1x.jpg 1x,
                        ./images/gallery/gallery-fasad-mobile-2x.jpg 2x,
                        ./images/gallery/gallery-fasad-mobile-3x.jpg 3x,
                        ./images/gallery/gallery-fasad-mobile-4x.jpg 4x
                    "
                    >
                    <img 
                        loading="lazy"
                        width="498"
                        srcset="
                            ./images/gallery/gallery-fasad-2x.jpg 2x,
                            ./images/gallery/gallery-fasad-3x.jpg 3x,
                            ./images/gallery/gallery-fasad-4x.jpg 4x
                        "
                        src="./images/gallery/gallery-fasad-1x.jpg" 
                        alt="fasad"
                    >
                </picture>
            </div>
            <p class="gallery__paragraph"><span class="gallery__accent">Edition Residens</span> / Miami Beach, FL 33139 </p>
        </li>
        <li class="gallery__item">
            <div class="gallery__img-wrapper">
                <picture>
                    <source
                    loading="lazy"
                    media="(max-width: 480px)"
                    width="131"
                    srcset="
                        ./images/gallery/gallery-car-mobile-1x.jpg 1x,
                        ./images/gallery/gallery-car-mobile-2x.jpg 2x,
                        ./images/gallery/gallery-car-mobile-3x.jpg 3x,
                        ./images/gallery/gallery-car-mobile-4x.jpg 4x
                    "
                    >
                    <img 
                        loading="lazy"
                        class="gallery-img"
                        width="324"
                        srcset="
                            ./images/gallery/gallery-car-2x.jpg 2x,
                            ./images/gallery/gallery-car-3x.jpg 3x,
                            ./images/gallery/gallery-car-4x.jpg 4x
                        "
                        src="./images/gallery/gallery-car-1x.jpg" 
                        alt="car"
                    >
                </picture>
                <picture>
                    <source
                    loading="lazy"
                    media="(max-width: 480px)"
                    width="131"
                    srcset="
                        ./images/gallery/gallery-sea-mobile-1x.jpg 1x,
                        ./images/gallery/gallery-sea-mobile-2x.jpg 2x,
                        ./images/gallery/gallery-sea-mobile-3x.jpg 3x,
                        ./images/gallery/gallery-sea-mobile-4x.jpg 4x
                    "
                    >
                    <img 
                        loading="lazy"
                        width="672"
                        srcset="
                            ./images/gallery/gallery-sea-2x.jpg 2x,
                            ./images/gallery/gallery-sea-3x.jpg 3x,
                            ./images/gallery/gallery-sea-4x.jpg 4x
                        "
                        src="./images/gallery/gallery-sea-1x.jpg" 
                        alt="sea"
                    >
                </picture>
            </div>
            <p class="gallery__paragraph"><span class="gallery__accent">Faena House</span> / Miami Beach, FL 33140</p>
        </li>
    </ul>
    <button class="btn" type="button">View all</button>
</section>