<header class="header container">
        <button class="header__btn" type="button">
            <svg class="header__svg">
                <use href="./images/symbol-defs.svg#icon-Icon-Burger-menu"></use>
            </svg>
        </button>
        <a href=""> 
            <svg class="header__svg-logo">
                <use href="./images/symbol-defs.svg#icon-Logo_Miami"></use>
            </svg>
        </a>
        <a class="header__link" href=""> 
            <svg class="header__svg">
                <use href="./images/symbol-defs.svg#icon-Icon-Phone-call"></use>
            </svg>
        </a>
</header>