<header class="header container">
    <button id="open" class="header__btn" type="button">
        <svg class="header__svg">
            <use href="./images/svg/symbol-defs.svg#icon-Icon-Burger-menu-1"></use>
        </svg>
    </button>
    <a href="./index.html"> 
        <svg class="header__svg-logo">
            <use href="./images/svg/symbol-defs.svg#icon-Logo-Miami"></use>
        </svg>
    </a>
    <a class="header__link" href="tel:+12345555555"> 
        <svg class="header__svg">
            <use href="./images/svg/symbol-defs.svg#icon-Icon-Phone"></use>
        </svg>
    </a>
</header>