<section class="hero section">
    <div class="container">
        <h1 class="hero__title"><span class="hero-title-acc">Miami</span> Condo Kings</h1>
    </div>
</section>
<div class="menu container">
    <div class="menu__header">
        <button class="header__btn">
            <svg class="menu__svg">
                <use href="./images/symbol-defs.svg#icon-Icon-Burger-menu"></use>
            </svg>
        </button>
        <a class="menu__link" href="./index.html">
            <svg class="menu__svg-logo">
                <use href="./images/symbol-defs.svg#icon-Logo_Miami"></use>
            </svg>
        </a>
    </div>
    <ul class="menu__list">
        <li class="menu__item">
            <a href="./index.html">HOME</a>
        </li>
        <li class="menu__item">
            <a href="#about">ABOUT US</a>
        </li>
        <li class="menu__item">
            <a href="#gallery">GALLERY</a>
        </li>
        <li class="menu__item">
            <a href="#testimonials">TESTIMONIALS</a>
        </li>
        <li class="menu__item">
            <a href="#contacts">CONTACTS</a>
        </li>
    </ul>
    <ul class="menu__contact">
        <li class="menu__contact-item"><a class="menu__contact-link" href="tel:+1 234 555-55-55">+1 234 555-55-55</a></li>
        <li class="menu__contact-item"><a class="menu__contact-link" href="#contacts">call to order</a></li>
    </ul>
</div>