<div id="menu" class="menu">
    <div class="container">
        <div class="menu__header">
            <button id="close" class="header__btn" aria-label="button-close-menu">
                <svg class="menu__svg">
                    <use href="./images/svg/symbol-defs.svg#icon-Icon-Close"></use>
                </svg>
            </button>
            <a class="menu__link" href="./index.html" aria-label="logo-link">
                <svg class="menu__svg-logo">
                    <use href="./images/svg/symbol-defs.svg#icon-Logo-Miami"></use>
                </svg>
            </a>
        </div>
        <ul id="menu-list" class="menu__list">
            <li class="menu__item">
                <a class="menu-link" href="./index.html">HOME</a>
            </li>
            <li class="menu__item">
                <a class="menu-link" href="#about">ABOUT US</a>
            </li>
            <li class="menu__item">
                <a class="menu-link" href="#gallery">GALLERY</a>
            </li>
            <li class="menu__item">
                <a class="menu-link" href="#testimonials">TESTIMONIALS</a>
            </li>
            <li class="menu__item">
                <a class="menu-link" href="#contacts">CONTACTS</a>
            </li>
        </ul>
        <ul id="menu-limk" class="menu__contact">
            <li class="menu__contact-item"><a class="menu-link menu__contact-link" href="tel:+12345555555">+1 234 555-55-55</a></li>
            <li class="menu__contact-item"><a class="menu-link menu__contact-link" href="#contacts">call to order</a></li>
        </ul>
    </div>
</div>