<section class="section container">
    <h2 id="testimonials" class="title">Testimonials</h2>
    <ul class="testimonials__list">
        <li class="testimonials__item">
            <h3 class="testimonials__title Leslie-Mckinney-title">Leslie Mckinney</h3>
            <p class="testimonials__paragraph">CEO</p>
            <p>
                Nice work, Certificates National Association
                of Realtors (USA)
            </p>
        </li>
        <li class="testimonials__item">
            <h3 class="testimonials__title Scarlett-Hawkins-title">Scarlett Hawkins</h3>
            <p class="testimonials__paragraph">Senior Vice President</p>
            <p>
                My soul is illuminated by an unearthly joy, as
                these beautiful spring morning, which I enjoy 
                with all my heart
            </p>
        </li>
        <li class="testimonials__item">
            <h3 class="testimonials__title Max-Henry-title">Max Henry</h3>
            <p class="testimonials__paragraph">Chief Design Officer</p>
            <p>
                When my lovely valley of steam rises and
                half-day sun is above an impermeable
            </p>
        </li>
    </ul>
</section>