.inpt {
    cursor: pointer;
    width: 411px;
    padding: 17px 14px;
    background-color: var(--input-color);
    border: none;
    border-radius: 8px;
    border: solid 2px inherit;
}

.inpt:hover {
    color: var(--main-text-color);
    border: solid 2px var(--input-hover);
}