.about {     
    padding-top: 600px;
}

.about__title {
    color: var(--main-text-color);
    font-weight: 700;
    line-height: 1; 
    letter-spacing: -1.5px;
    font-size: var(--title-fs-mob);
    margin-bottom: 48px;

    .about__wrap-title {
        display: inline-block;
    }
}

.about__description {
    @include fonts-size(var(--secondary-title-fs), 700, 1.25);
    color: var(--accent-color);
    margin-bottom: 16px;
}

.about__paragraph {
    color: var(--secondari-darc-color);
}

.paragraph-bottom {
    display: block;
    margin-bottom: 16px;
}

.about__bold {
    font-weight: 800;
}

@media screen and (min-width: 1200px) {
    .about {
        display: flex;
        justify-content: space-between;
    }

    .about__title {
        font-size: var(--title-fs);
        width: 230px;
    }

    .about__paragraph {
        width: 498px;
    }
}