.footer__logo {
    display: block;
    margin: 0 auto;
    @include size(82px, 48px);
}

.footer {
    padding: 134px 0 24px 0;
    margin-top: 64px;
    background: url(../images/footer/footer-background-mobile-1x.jpg) center / cover no-repeat;

    @include retina(2) {
        background: url(../images/footer/footer-background-mobile-2x.jpg) center / cover no-repeat;
    }

    @include retina(3) {
        background: url(../images/footer/footer-background-mobile-3x.jpg) center / cover no-repeat;
    }
}

.footer__logo-svg {
    @include size(82px, 48px);
}

@media screen and(min-width:1200px){
    .footer {
        background: url(../images/footer/footer-background-1x.jpg) center / cover no-repeat;;
        padding: 247px 0 32px 0;
        margin-top: 120px;

        @include retina(2) {
            background: url(../images/footer/footer-background-2x.jpg) center / cover no-repeat;;
        }

        @include retina(3) {
            background: url(../images/footer/footer-background-3x.jpg) center / cover no-repeat;;
        }
    }

    .footer__logo {
        @include size(136px, 80px);
    }
    
    .footer__logo-svg {
        @include size(136px, 80px);
    }
}