.gallery__item {
   margin: 0 auto;
   display: flex;
   align-items: center;
   flex-direction: column;
    &:not(:last-child) {
        margin-bottom: 40px;
    }
}

.gallery__img-wrapper {
    display: flex;
}

.gallery-img {
    margin-right: 24px;
}

.gallery__paragraph {
    margin-top: 24px;
}

.gallery__accent {
    font-weight: 700;
    color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
    .gallery-img {
        margin-right: 20px;
    }

    .gallery__item {
        align-items: start;
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    .gallery__paragraph {
        text-align: start;
        margin-top: 16px;
    }
}