.gallery__item {
    @include center(flex, column, start, center);
    &:not(:last-child) {
        margin-bottom: 40px;
    }
}

.gallery__img-wrapper {
    @include center;
}

.gallery-img {
    margin-right: 24px;
}

.gallery__paragraph {
    margin-top: 24px;
}

.gallery__accent {
    font-weight: 700;
    color: var(--accent-color);
}

@media screen and (max-width: 1019px) {
    .gallery-img {
        margin-right: 20px;
    }

    .gallery__item {
        justify-content: center;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    .gallery__paragraph {
        margin-top: 16px;
    }
}