.hero {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 407px 0 80px 0;
    background: url(../images/hero/background-hero-mobile-1x.jpg) center / cover no-repeat;

    @include retina(2) {
        background: url(../images/hero/background-hero-mobile-2x.jpg)center / cover no-repeat;
    }

    @include retina(3) {
        background: url(../images/hero/background-hero-mobile-3x.jpg)center / cover no-repeat;
    }
}

.hero__title {
    color: var(--main-color);
    font-size: 46px;
    font-weight: 700;
    line-height: 1.15; 
    letter-spacing: -1.5px;

    &::before {
        content: '';
        display: block;
        width: 40px;
        height: 2px;
        background-color: currentColor;
        margin-bottom: 26px;
    }
}

.hero-title-acc {
    display: block;
}

@media screen and (min-width: 1200px) {
    .hero {
        padding: 459px 0 80px 0;
        background: url(../images/hero/background-hero.jpg)center / cover no-repeat;

        @include retina(2) {
            background: url(../images/hero/background-hero-2x.jpg)center / cover no-repeat;
        }

        @include retina(3) {
            background: url(../images/hero/background-hero-3x.jpg)center / cover no-repeat;
        }
    }

    .hero__title {
        font-size: 80px;
        line-height: 1;
    }
}