.testimonials__list {
    margin: 0 auto;
}

.testimonials__item {
   text-align: center;

   &:not(:last-child) {
    margin: 0 0 48px 0;
   }
}

@each $people in Leslie-Mckinney, Scarlett-Hawkins, Max-Henry {
    .#{$people}-title::before {
      background-image: url('../images/reviews/#{$people}.png');
    }
}

.testimonials__title {
    color: var(--accent-color);
    font-size: var(--secondary-title-fs);
    font-weight: 700;
    line-height: 1.25;
    margin: 0 0 4px 0;

    &::before {
        content: "";
        display: block;
        background-size: contain;
        border-radius: 50%;
        margin: 0 auto;
        @include size(153px, 153px);
        margin-bottom: 28px;
    }
}

.testimonials__paragraph {
    color: var(--secondary-color);
    font-size: var(--smal-text);
    line-height: 1.9;
    margin: 0 0 4px 0;
}

@media screen and (min-width: 1200px) {
    .testimonials__list {
        display: flex;
    }

    .testimonials__item {
        width: 324px;

        &:not(:last-child) {
            margin: 0 24px 0 0;
        }
    }

    .testimonials__title::before {
        @include size(150px, 150px);
        margin-bottom: 32px;
    }
}